@import url('https://fonts.google.com/specimen/Overpass');

body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}

h1{
    color: white;
}

.container{
    background-color: hsl(213, 19%, 18%);
    border-radius: 12px;
    padding: 35px;
    width: 375px;
    height: 375px;
}

.icon{
    background-color: hsl(217, 12%, 63%, .1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-bottom: 25px;
}

.thanks-icon{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card-body{
    color: hsl(0, 0%, 100%, .5);
    line-height: 3ch;
    font-size: 15px;
    margin-bottom: 25px;
}

.rating{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 25px; 
}

.rating-num{
    background-color: hsl(217, 12%, 63%, .1);
    display: flex;
    border-radius: 50%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}
.rating-num:hover{
    background-color: hsl(217, 12%, 63%, .6);
    cursor: pointer;
}
.rating-num:active{
    background-color: hsl(25, 97%, 53%);
}

button{
    color: white;
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
    letter-spacing: .5ch;

}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: white;
    color:hsl(25, 97%, 53%)
}

.selection{
  margin-top: 25px;
  display: inline-flex;
  background-color: hsl(217, 12%, 63%, .1);
  border-radius: 30px;
  padding: 10px;
  color:hsl(25, 97%, 53%);
  margin-bottom: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

